footer{
    width: 100%;
}

.content-redes{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.content-redes img{
    width: 32px;
    height: auto;
}
.content-redes .behance, .github{
    cursor: pointer;
    margin-right: 28px;
}
.content-redes .linkedin{
    cursor: pointer;
}

.contenedor-footer{
    max-width: 1100px;
    height: 350px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: none;
    background: radial-gradient(circle at 50% 5%,
    /* #233e76 0%, */
    #182b51 0%,
    #010f31 50%, 
    #010c26 60%,
    #020817 90%, 
    #020817 100%);
}
.contenedor-footer h3{
    font-weight: 400;
    margin-bottom: 24px;
}

.diseñado{
    font-weight: 500;
    color: var(--secundart-color);
}
.programado{
    font-weight: 500;
    color: var(--terciary-color);
}

.mi{
    font-weight: 500;
    color: white;
}