section{
    width: 100%;
}
.contenedor{
    max-width: 1100px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 
    auto;
}
.titulo{
    text-align: center;
}
.titulo .text-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.titulo .text-up h1{
    font-weight: 500;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #FF3D91, #22C4FF); /* Degradado de colores */
  -webkit-background-clip: text; /* Aplica el fondo al texto */
  -webkit-text-fill-color: transparent; /* Hace el texto transparente para mostrar el degradado */
}
    
.titulo .text-up img{
    height: 50px;
    margin-left: 20px;
}
.titulo h2{
    background-color: rgb(11, 9, 34);
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 10px;
}


.requerimiento {
    padding-top: 20px;
    padding-bottom: 20px;
}

.requerimiento h2{
    text-align: center;
    margin-bottom: 25px;
}
.requerimiento p{
    line-height: 20px;
}


.tables{
    /* display: flex;
    flex-direction: column;
    gap: 30px
    ; */
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten */
    gap: 16px; /* Evita gaps demasiado grandes */
    justify-content: center; /* Centra los elementos */
}

.tableux{
    max-width: 500px;
    background-color: #080808;
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px 20px;
}
.tableux h3,
.tablefront h3{
    line-height: 28px;
    margin-bottom: 14px;
    font-weight: 500;
    text-align: center;
}
.tablefront{
    max-width: 500px;
    background-color: #080808;
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px 20px;
}

.tablefront ul{
    list-style-type: disc !important;
    margin-left: 5px; /* Ajusta el margen si es necesario */
  padding-left: 14px; /* Ajusta el espacio entre las viñetas y el texto */
  color: white; /* Texto en blanco */
}
.tablefront ul li{
    margin-top: 10px;
    color: var(--text-color);
}



/* Estrategia */

.estrategia {
    padding-top: 30px;
    padding-bottom: 30px;
}

.estrategia h2{
    text-align: center;
    margin-bottom: 25px;
}
.estrategia p{
    text-align: center;
    line-height: 20px;
    
}
.estrategia p span{
    font-weight: 700;
    color: #FF3D91;
}
.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .content-thinking-interbank{
    max-width: 400px;
    padding: 0 4px;
    
} */
.thinking-interbank{
    margin: 0 auto;
    width: 100%;
    position: relative;
}

/* Ivestigacion */

.investigacion{
    max-width: 500px;
    background-color: #0c0a34;
    border: 1px solid rgb(0, 204, 255);
    border-radius: 20px;
    padding: 20px 20px;
}
.investigacion img{
    width: 100%;
}
.investigacion h3,
.benchmarck h3{
    line-height: 28px;
    margin-bottom: 14px;
    font-weight: 500;
    text-align: center;
}
.benchmarck{
    max-width: 500px;
    background-color: #0c0a34;
    border: 1px solid rgb(0, 204, 255);
    border-radius: 20px;
    padding: 20px 20px;
}
.benchmarkimg{
    display: flex;
    margin: 0px auto;
    width: 100%;
}

.benchmarck ul{
    list-style-type: disc !important;
    margin-left: 5px; /* Ajusta el margen si es necesario */
  padding-left: 14px; /* Ajusta el espacio entre las viñetas y el texto */
  color: white; /* Texto en blanco */
}
.benchmarck ul li{
    margin-top: 10px;
    color: var(--text-color);
}
.benchmarck .debe-tener{
    width: 100%;
}
.userflow{
    display: flex;
    margin: 0px auto;
    width: 100%;
    
}
.wireframe{
    display: flex;
    margin: 0px auto;
    width: 100%;
}
.userflow{
    display: flex;
    margin: 0px auto;
    width: 100%;
}
.debe-tener{
    display: flex;
    margin: 0px auto;
    width: 100%;
}


@media (min-width: 768px){
    .estrategia{
        padding-top: 100px;
    }
    .estrategia p{
        font-size: 18px;
        text-align: left;
        line-height: 20px;
    }
    .estrategia .contenido{
        display: flex;
    }
    .requerimiento{
        padding-top: 100px;
    }
    .estrategia .contenido p{
        font-size: 18px;
        line-height: 24px;
        padding-right: 40px;
    }
    .tables{
        /* display: flex;
        flex-direction: column;
        gap: 30px
        ; */
        display: flex;
        flex-wrap: nowrap; /* Permite que los elementos se ajusten */
        gap: 16px; /* Evita gaps demasiado grandes */
        text-align: left;
    }
    .benchmarck ul li{
        text-align: left;
    }
    .interview-text{
        text-align: left !important;
    }
    .benchmarck ul li{
        font-size: 18px;
    }
    .contenido{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }
    .thinking-interbank{
        width: 50%;
        padding: 0 4px;
        
    }
    .investigacion{
        width: 500px;
    }
    .benchmarck{
        width: 1000px;
    }
    
    .wireframe{
        display: flex;
        margin: 0px auto;
        padding-bottom: 50px;
    }
    .requerimiento p{
        font-size: 18px;
        line-height: 20px;
        text-align: center;
    }
    .debe-tener{
        width: 500px;
    }
    .requerimiento h3{
        font-size: 20px;
        text-align: center;
    }
    p{
        line-height: 24px;
    }
}