:root{
    --primary-color: #020817 ;
    --secundart-color: #FF3D91;
    --terciary-color: #22C4FF;
    --font-family: 'Roboto', sans-serif ;
    --font-size-base: 14px;
    --text-color: #cfcfcf ;
    --background-colors: #020817;
}